::ng-deep {
    .mat-checkbox-checked.mat-accent .mat-checkbox-background {
        background-color: #8A2080 !important;
    }
    .mat-form-field-appearance-outline .mat-form-field-infix {
        padding: 1em 0 1em 0;
        font-size: 12px;
    }
    
}
.login-card {
    border: 2px solid #8A2080;
    border-top: 15px solid #8A2080;
    border-radius: 10px; 
    
    a{
        color: #8A2080 !important;
    }
}
.button-log{
    background-color: #8A2080;
    color: #fff;
}

h2.header-color{
    color: #8A2080 !important;
}

.passwordImg img {
    max-height: 75vh;
}