<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <a href="javascript:void(0);" class="brand-link">
      <img src="../../../assets/images/Shinecoder Logo 1 1.svg" alt="AdminLTE Logo" class="brand-image"
        style="opacity: 0.8" />

    </a>
  
    <div class="sidebar">
      <div class="user-panel mt-3 mb-3 d-flex">
        <div class="image">
          <img src="../../../assets/images/admin/avatar.png" class="img-circle elevation-2" alt="User Image" />
        </div>
        <div class="info">
          <a href="javascript:void(0)" class="d-block text-capitalize">
            dummy admin
          </a>
        </div>
      </div>
  
      <nav class="mt-2" id="accordionExample">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <li class="nav-item">
            <a routerLink="/panel/dashboard" class="nav-link cursor" [routerLinkActive]="['active']">
              <i class="nav-icon fas fa-tachometer-alt iconsize"></i>
              <p>Dashboard</p>
            </a>
          </li>  
          <li class="nav-item
            ">
            <a class="nav-link collapsed" [routerLinkActive]="['active']" data-bs-toggle="collapse"
              data-bs-target="#collapsefour" aria-expanded="false" aria-controls="collapsefour">
              <i class="fas fa-cog iconsize nav-icon"></i>
              <p>Settings<i class="fas fa-angle-left right rotate"></i></p>
            </a>
            <ul class="nav accordion-collapse collapse" id="collapsefour" data-bs-parent="#accordionExample">
              <li class="nav-item">
                <a routerLink="profile" class="nav-link cursor" [routerLinkActive]="['active']">
                  <i class="fas fa-edit nav-icon"></i>
                  <p>Profile Setting</p>
                </a>
              </li>
  
              <li class="nav-item">
                <a routerLink="change-password" class="nav-link cursor" [routerLinkActive]="['active']">
                  <i class="fas fa-key nav-icon"></i>
                  <p>Change Password</p>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link cursor" [routerLinkActive]="['active']" (click)="Signout()">
                  <i class="fas fa-sign-out-alt nav-icon"></i>
                  <p>Sign Out</p>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </aside>
  